---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=app_id&app_key=app_key&q=Sulawesi&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Tue, 17 Jan 2023 03:07:59 GMT
[...]
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=app_id&app_key=app_key&q=Sulawesi&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Tue, 17 Jan 2023 15:18:41 GMT
recorded_with: VCR 6.1.0
